.cont-bottom{
    height: 100%;
}
.cont-section-dash{
    height: 100%;
  
}
.height-cont{
    height: calc(100vh - 15rem) !important;
  
}
.width-content{
    width: calc(100% - 3rem) !important;
}
.content-list{
    width: calc(100% - 4rem);
}
.mchat-content{
    width: calc(100% - 4rem);
}
.activeClassOne {
    animation: slideAnimationOne .5s ease-in forwards;
}
.activeClassTwo{
    animation: slideAnimationTwo .5s ease-in forwards;
}
.map-container {
    margin-top: 1rem;
    width: 95% !important;
    height: 85% !important;
    border-radius: 0.25rem ;
  }
  .tracking-in-expand {
 
    -webkit-animation: tracking-in-expand 1.2s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-expand 1.2s cubic-bezier(.215, .61, .355, 1.000) both
}
.tracking-in-expand2 {
 
    -webkit-animation: tracking-in-expand2 1.2s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-expand2 1.2s cubic-bezier(.215, .61, .355, 1.000) both
}


@media (min-width:1500px) {
    .container-main{
        border-radius: 0.375rem;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand2 {
    0% {
        
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}


@keyframes slideAnimationOne {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(calc(100% - 1rem));
    }
}
@keyframes slideAnimationTwo {
    0% {
        transform: translateX(calc(100% - 1rem));
    }
    
    100% {
        transform: translateX(0);
    }
}
