.cont-bottom{
    height: 100%;
}
.cont-section-dash{
    height: 100%;
  
}
.content-list{
    width: calc(100% - 4rem);
}
.mchat-content{
    width: calc(100% - 4rem);
}
.activeClassOne {
    animation: slideAnimationOne .5s ease-in forwards;
}
.activeClassTwo{
    animation: slideAnimationTwo .5s ease-in forwards;
}
.map-container {
    margin-top: 1rem;
    width: 95% !important;
    height: 410px !important;
    border-radius: 0.25rem ;
  }
@keyframes slideAnimationOne {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(calc(100% - 1rem));
    }
}
@keyframes slideAnimationTwo {
    0% {
        transform: translateX(calc(100% - 1rem));
    }
    
    100% {
        transform: translateX(0);
    }
}